*{margin: o;}

h1{text-align: center;
color:black;
}

body{background-color: rgba(128, 128, 128, 0.175);}

.header{display: flex;
    text-align:;
    flex-direction: column;
justify-content: center;
height: 30px;
width:450px ;
background-color: white;
margin-left: 535px;}

.footer{display: flex;
flex-direction: column;
justify-content: center;
background-color: white;
    margin-left: 535px ;
    margin-bottom: 30px;
    width: 450px;
    height: 40px;
}



.imagen{;

margin-left: 535px;}

#Imagen2{width: 450px;
    height: 450px;
    margin-left: 535px;}

#Imagen3{width: 450px;
height: 350px;
margin-left: 535px;}