*{margin: o;}

h1{text-align: center;
color:black;
}

body{background-color: rgba(128, 128, 128, 0.175);}

.header{display: flex;
    text-align:;

justify-content: space-between;
height: 30px;
width:450px ;
background-color: white;
margin-left: 535px;
margin-top: 0;
padding-top: 10px;
}


.footer{display: flex;
flex-direction: column;
justify-content: center;
background-color: white;
    margin-left: 535px ;
    margin-bottom: 30px;
    width: 450px;
    height: 40px;
}



.imagen{;

margin-left: 535px;}

